<!-- Admin Board Body -->
<div class="main-container">

    <!-- Admin Navigation Sidebar -->
    <div class="admin-nav-container">
        <h1>BOARD PROFILES</h1>
        <div class="admin-nav-item">
            <img class="nav-icon" src="/icons/icon_grid.png"><a href="#">NEW PROFILE</a>
        </div>
        <div class="admin-nav-item">
            <img class="nav-icon" src="/icons/icon_edit.png"><a href="#">EDIT PROFILE</a>
        </div>
        <div class="admin-nav-item">
            <img class="nav-icon" src="/icons/icon_load.png"><a href="#">LOAD PROFILE</a>
        </div>

        <h1>FEATURE TEMPLATES</h1>
        <div class="admin-nav-item">
            <img class="nav-icon" src="/icons/icon_grid.png"><a href="#">NEW TEMPLATE</a>
        </div>
        <div class="admin-nav-item">
            <img class="nav-icon" src="/icons/icon_edit.png"><a href="#">EDIT TEMPLATE</a>
        </div>

        <h1>IMAGE GALLERY</h1>
        <div class="admin-nav-item">
            <img class="nav-icon" src="/icons/icon_grid.png"><a href="#">NEW IMAGE</a>
        </div>
        <div class="admin-nav-item">
            <img class="nav-icon" src="/icons/icon_edit.png"><a href="#">EDIT IMAGES</a>
        </div>

        <!-- End of Admin Nav -->
    </div>


    <!-- Main Content -->
    <div class="admin-content-container">
        <div class="admin-preview-board-header">
            <h3>PROFILE:</h3>
            <button class="admin-preview-board-button">PREVIEW BOARD</button>
        </div>
        <div class="admin-preview-board">
            <div class="admin-preview-board-featured">

                <h2>Edit Featured</h2>
            </div>
            <div class="admin-preview-board-sidebar">

                <h2>Edit Sidebar</h2>
            </div>
            <div class="admin-preview-board-menu">

                <h2>Edit Menu 1</h2>
            </div>
            <div class="admin-preview-board-menu">

                <h2>Edit Menu 2</h2>

            </div>
            <div class="admin-preview-board-menu">

                <h2>Edit Menu 3</h2>

            </div>
            <div class="admin-preview-board-menu">

                <h2>Edit Menu 4</h2>

            </div>
        </div>

        <!-- End of Admin Content Container -->
    </div>
    <!-- End of Admin Main Container -->
</div>