<!-- Admin Board Body -->
<div class="main-container">
    <!-- Admin Navigation Sidebar -->
    <div class="admin-nav-container">
        <div>
            <h1>BOARD PROFILES</h1>
            <ul>
                <div class="admin-nav-item">
                    <li><a href="">NEW PROFILE</a></li>
                </div>
                <div class="admin-nav-item">
                    <li><a href="">LOAD PROFILE</a></li>
                </div>
            </ul>
        </div>

        <h1>TEMPLATES</h1>
        <ul>
            <div class="admin-nav-item">
                <li><a href="">NEW TEMPLATE</a></li>
            </div>
            <div class="admin-nav-item">

                <li><a href="">EDIT TEMPLATE</a></li>
            </div>
        </ul>

        <h1>IMAGE GALLERY</h1>
        <ul>
            <div class="admin-nav-item">
                <li><a href="">NEW IMAGE</a></li>
            </div>
        </ul>

    </div>
    <!-- Main Content -->
    <div class="admin-content-container">
        <div class="admin-preview-board-header">
            <h3>PROFILE:</h3>
            <button class="admin-preview-board-button">PREVIEW BOARD</button>
        </div>
        <div class="admin-preview-board">
            <div class="admin-preview-board-featured">

                <h2>Edit Featured</h2>
            </div>
            <div class="admin-preview-board-sidebar">

                <h2>Edit Sidebar</h2>
            </div>
            <div class="admin-preview-board-menu">

                <h2>Edit Menu 1</h2>
            </div>
            <div class="admin-preview-board-menu">

                <h2>Edit Menu 2</h2>

            </div>
            <div class="admin-preview-board-menu">

                <h2>Edit Menu 3</h2>

            </div>
            <div class="admin-preview-board-menu">

                <h2>Edit Menu 4</h2>

            </div>

        </div>
    </div>
</div>