<!-- Admin Board Body -->
<div class="main-container">

    <!-- Admin Navigation Sidebar -->
    <div class="admin-nav-container">
        <h1>BOARD PROFILES</h1>
        
        <div class="admin-nav-item">
            <img class="nav-icon" src="/icons/icon_grid.png"><a href="#modal-new-profile" rel="modal:open">NEW PROFILE</a>
        </div>
        
        <div class="admin-nav-item">
            <img class="nav-icon" src="/icons/icon_edit.png"><a href="#modal-edit-profile" rel="modal:open">EDIT PROFILE</a>
        </div>
        <div class="admin-nav-item">
            <img class="nav-icon" src="/icons/icon_load.png"><a href="#modal-load-profile" rel="modal:open">LOAD PROFILE</a>
        </div>

        <h1>FEATURE TEMPLATES</h1>
        <div class="admin-nav-item">
            <img class="nav-icon" src="/icons/icon_grid.png"><a href="#modal-new-template" rel="modal:open">NEW TEMPLATE</a>
        </div>
        <div class="admin-nav-item">
            <img class="nav-icon" src="/icons/icon_edit.png"><a href="#modal-edit-template" rel="modal:open">EDIT TEMPLATE</a>
        </div>

        <h1>IMAGE GALLERY</h1>
        <div class="admin-nav-item">
            <img class="nav-icon" src="/icons/icon_grid.png"><a href="#modal-new-image" rel="modal:open">NEW IMAGE</a>
        </div>
        <div class="admin-nav-item">
            <img class="nav-icon" src="/icons/icon_edit.png"><a href="#modal-edit-image" rel="modal:open">EDIT IMAGES</a>
        </div>

        <!-- End of Admin Nav -->
    </div>


    <!-- Main Content -->
    <div class="admin-content-container">
        <div class="admin-board-header">
            Header
        </div>

        <div class="admin-board-container">
            CONTENT
        </div>
    </div>
    <!-- End of Admin Main Container -->
</div>

<!-- Ejs Include For Modals -->

<% include ../partials/modals %>

<!-- End of Modal Include -->