<!-- Admin Board Body -->

<!-- Letterbox -->
<header class="admin-letterbox">
    <ul>
        <li>Account Login</li><span></span>
        <li>Documentation</li><span></span>
        <li>Product Support</li>
    </ul>
    <div><img src="imgs/app/app-logo.png" alt="Burger Board Logo"></div>
</header>


<!-- Site Wrapper -->
<div class="main-container">

    <!-- Admin Navigation Sidebar -->
    <div class="admin-nav-container">
        <h1>BOARD PROFILES</h1>

        <div class="admin-nav-item">
            <img class="nav-icon" src="/icons/icon_grid.png"><a href="#modal-new-profile" rel="modal:open">NEW
                PROFILE</a>
        </div>

        <div class="admin-nav-item">
            <img class="nav-icon" src="/icons/icon_load.png"><a href="#modal-load-profile" rel="modal:open">LOAD
                PROFILE</a>
        </div>

        <h1>FEATURE TEMPLATES</h1>
        <div class="admin-nav-item">
            <img class="nav-icon" src="/icons/icon_grid.png"><a href="#modal-new-template" rel="modal:open">NEW
                TEMPLATE</a>
        </div>
        <div class="admin-nav-item">
            <img class="nav-icon" src="/icons/icon_edit.png"><a href="#modal-edit-template" rel="modal:open">EDIT
                TEMPLATE</a>
        </div>

        <h1>IMAGE GALLERY</h1>
        <div class="admin-nav-item">
            <img class="nav-icon" src="/icons/icon_grid.png"><a href="#modal-new-image" rel="modal:open">NEW IMAGE</a>
        </div>
        <div class="admin-nav-item">
            <img class="nav-icon" src="/icons/icon_edit.png"><a href="#modal-edit-image" rel="modal:open">EDIT
                IMAGES</a>
        </div>

        <!-- End of Admin Nav -->
    </div>


    <!-- Main Content -->
    <div class="admin-content-container">

        <!-- Board Preview Header -->
        <div class="admin-board-header">

            <!-- INLINE PROFILE EDITING -->
            <!-- Edit -->
            <div id="inline-edit">
                <h1>PROFILE: <b>BREAKFAST</b><button onclick="app_profile_inline_edit()"
                        class="btn-profile-edit">EDIT</button></h1>
            </div>
            <!-- Save/Cancel -->
            <div id="inline-save">
                <h1>PROFILE: <input class="inline-edit-field" value="BREAKFAST"><button
                        onclick="app_profile_inline_save()" class="btn-profile-save">SAVE</button><button
                        class="btn-profile-save-cancel">CANCEL</button></h1>
            </div>

            <div>
                <button class="btn-preview">Preview Board</button>
            </div>
        </div>

        <!-- Board Preview -->
        <div class="admin_board_container">
            <div class="ab_featured flex-center hover-cell">Featured</div>
            <div class="ab_sidebar flex-center hover-cell">Sidebar</div>
            <div class="ab_menu_1 flex-center hover-cell">Menu</div>
            <div class="ab_menu_2 flex-center hover-cell">Menu</div>
            <div class="ab_menu_3 flex-center hover-cell">Menu</div>
            <div class="ab_menu_4 flex-center hover-cell">Menu</div>
        </div>

        <!-- Board Footer -->

        <div class="admin-board-footer">
            <button class="btn-delete">DELETE BOARD</button>
        </div>
    </div>
    <!-- End of Admin Main Container -->
</div>

<script src="/js/app.js"></script>
<!-- Ejs Include For Modals -->
<% include ../partials/modals %>