<!-- Admin Board Body -->
<div class="main-container">
    <!-- Admin Navigation Sidebar -->
    <div class="admin-nav-container">
        hello
    </div>
    <!-- Main Content -->
    <div class="admin-content-container">
        hello
    </div>
</div>

