<!-- Admin Board Body -->
<div class="main-container">
    <!-- Admin Navigation Sidebar -->
    <div class="admin-nav-container">
        <h1>BOARD PROFILES</h1>

        <ul class="admin-nav-item">
            <a href=""><li>New Profile</li></a>
            <a href=""><li>Load Profile</li></a>
        </ul>

        <h1>TEMPLATES</h1>

        <ul class="admin-nav-item">
            <a href=""><li>New Template</li></a>
            <a href=""><li>Edit Template</li></a>
        </ul>

        <h1>IMAGE GALLERY</h1>

        <ul class="admin-nav-item">
            <a href=""><li>New Image</li></a>
        </ul>

    </div>
    <!-- Main Content -->
    <div class="admin-content-container">
        <div class="admin-preview-board-header">
            <h2>PROFILE:</h2>
            <button class="admin-preview-board-button">PREVIEW BOARD</button>
        </div>
        <div class="admin-preview-board">
            <div class="admin-preview-board-featured">

                <h2>Edit Featured</h2>
            </div>
            <div class="admin-preview-board-sidebar">

                <h2>Edit Sidebar</h2>
            </div>
            <div class="admin-preview-board-menu">

                <h2>Edit Menu 1</h2>
            </div>
            <div class="admin-preview-board-menu">

                <h2>Edit Menu 2</h2>

            </div>
            <div class="admin-preview-board-menu">

                <h2>Edit Menu 3</h2>

            </div>
            <div class="admin-preview-board-menu">

                <h2>Edit Menu 4</h2>

            </div>

        </div>
    </div>
</div>