<!-- Admin Board Body -->
<div class="main-container">
    <!-- Admin Navigation Sidebar -->
    <div class="admin-nav-container">
        <h1>Board Profiles</h1>

        <ul class="admin-nav-item">
            <a href=""><li>New Profile</li></a>
            <a href=""><li>Load Profile</li></a>
        </ul>

        <h1>Templates</h1>

        <ul class="admin-nav-item">
            <a href=""><li>New Template</li></a>
            <a href=""><li>Edit Template</li></a>
        </ul>

        <h1>Image Gallery</h1>

        <ul class="admin-nav-item">
            <a href=""><li>New Image</li></a>
        </ul>

    </div>
    <!-- Main Content -->
    <div class="admin-content-container">
        <div class="admin-preview-board-header">
            <h1>Profile:</h1>
            <h1>Preview Current Board</h1>

        </div>
        <div class="admin-preview-board">
            <div class="admin-preview-board-featured">

                <h1>Edit Featured</h1>
            </div>
            <div class="admin-preview-board-sidebar">

                <h1>Edit Sidebar</h1>
            </div>
            <div class="admin-preview-board-menu">

                <h1>Edit Menu 1</h1>
            </div>
            <div class="admin-preview-board-menu">

                <h1>Edit Menu 2</h1>

            </div>
            <div class="admin-preview-board-menu">

                <h1>Edit Menu 3</h1>

            </div>
            <div class="admin-preview-board-menu">

                <h1>Edit Menu 4</h1>

            </div>

        </div>
    </div>
</div>