<!-- Board Container -->

<div class="board-container">
    <div class="siema bc-featured">
        <div><img src="/imgs/uploaded/f_burger.png"></div>
        <div><img src="/imgs/uploaded/f_burger.png"></div>
        <div><img src="/imgs/uploaded/f_burger.png"></div>
    </div>
    <div class="bc-sidebar"></div>
    <div id="m1" class="bc-menu"></div>
    <div id="m2" class="bc-menu"></div>
    <div id="m3" class="bc-menu"></div>
    <div id="m4" class="bc-menu"></div>
</div>

