<!-- Board Container -->

<div class="board-container">
    <div class="bc-featured"></div>
    <div class="bc-sidebar"></div>
    <div id="m1" class="bc-menu"></div>
    <div id="m2" class="bc-menu"></div>
    <div id="m3" class="bc-menu"></div>
    <div id="m4" class="bc-menu"></div>
</div>