<!-- Modals -->


<!-- PROFILE: NEW -->
<div id="modal-new-profile" class="modal">

    <div class="modal-box">
        <h1>Create a new boardprofile:</h1>
        Profile Name: <input id="profile-create-name-field" name="test" type="input">
        <button type="submit" onclick="app_profile_create()">Submit</button>
    </div>

</div>

<!-- PROFILE: LOAD -->
<div id="modal-load-profile" class="modal">

    <div class="modal-box">
        <h1>Load Profile</h1>
        <select id="list-profile-options">

        </select>
    </div>
</div>


<!-- TEMPLATE: NEW -->
<div id="modal-new-template" class="modal">

    <h1>New Template</h1>
    <p>Template Name: <input id="template-name" type="input"></p>
    <p>Body Text: <input id="template-body-text" type="input"></p>
    <p>
        Image: <select id="template-image-choice" class="list-images-options"></select>
    </p>

    </select>
    <button type="submit" id="profile-name" onclick="app_template_create()">Submit</button>

</div>


<!-- TEMPLATE: EDIT -->
<div id="modal-edit-template" class="modal">

    <h1>Edit Template</h1>
    <select class="list-templates">

    </select>
</div>

<!-- IMAGE: NEW -->
<div id="modal-new-image" class="modal">

    <h1>New Image</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="upload">
        <button type="submit" id="image_url">Submit</button>
    </form>
</div>

<!-- IMAGE: EDIT -->
<div id="modal-edit-image" class="modal">

    <h1>Edit Image</h1>
    <select class="list-images-options">

    </select>
</div>

<!-- PREVIEWBOARD MODALS -->
<!-- PREVIEWBOARD MODALS -->
<!-- PREVIEWBOARD MODALS -->

<!-- FEATURED: EDIT -->
<div id="modal-edit-featured" class="modal">

    <h1>Edit Featured List</h1>
    <div>
        <select id="list-featured-add-templates" class="list-templates">
        </select>
        <button onclick="app_template_add_to_featured()" class="btn-profile-edit">Add</button>
    </div>
    <p>---List of Templates---</p>
    <div id="list-featured-templates-current"></div>

</div>


<!-- SIDEBAR: EDIT -->
<div id="modal-edit-sidebar" class="modal">
    <div class="modal-box">
        <h1>EDIT SIDEBAR</h1>
        <input id="sidebar-header-field">
        <select id="sidebar-image-choice" class="list-images-options">
        </select>
        <button onclick="app_sidebar_update()">Add</button>
    </div>
</div>

<!-- MENU: EDIT -->
<div id="modal-edit-menu-1" class="modal">

    <h1>EDIT MENU</h1>
    <select>

    </select>
</div>

<!-- MENU: EDIT -->
<div id="modal-edit-menu-2" class="modal">

    <h1>EDIT MENU</h1>
    <select>

    </select>
</div>

<!-- MENU: EDIT -->
<div id="modal-edit-menu-3" class="modal">

    <h1>EDIT MENU</h1>
    <select>

    </select>
</div>

<!-- MENU: EDIT -->
<div id="modal-edit-menu-4" class="modal">

    <h1>EDIT MENU</h1>
    <select>

    </select>
</div>