<!-- Modals -->


<!-- PROFILE: NEW -->
<div id="modal-new-profile" class="modal">

    <h1>New Profile</h1>
    <br>
    Profile Name: <input type="input" name="profile-name">
    <button type="submit" id="profile-name">Submit</button>
</div>


<!-- PROFILE: EDIT -->
<div id="modal-edit-profile" class="modal">

    <h1>Edit Profile</h1>
    <select>

    </select>
</div>

<!-- PROFILE: LOAD -->
<div id="modal-load-profile" class="modal">

    <h1>Load Profile</h1>
    <select>

    </select>
</div>


<!-- TEMPLATE: NEW -->
<div id="modal-new-template" class="modal">

    <h1>New Template</h1>
</div>


<!-- TEMPLATE: EDIT -->
<div id="modal-edit-template" class="modal">

    <h1>Edit Template</h1>
    <select>

    </select>
</div>

<!-- IMAGE: NEW -->
<div id="modal-new-image" class="modal">

    <h1>New Image</h1>
    <br>
    Image URL: <input type="text" name="image-url">
    <button type="submit" id="image_url">Submit</button>
</div>

<!-- IMAGE: EDIT -->
<div id="modal-edit-image" class="modal">

    <h1>Edit Image</h1>
    <select>

    </select>
</div>

<!-- PREVIEWBOARD MODALS -->

<!-- FEATURED: EDIT -->
<div id="modal-edit-featured" class="modal">

    <h1>EDIT FEATURED</h1>
    <select>

    </select>
</div>


<!-- SIDEBAR: EDIT -->
<div id="modal-edit-sidebar" class="modal">

    <h1>EDIT SIDEBAR</h1>
    <select>

    </select>
</div>

<!-- MENU: EDIT -->
<div id="modal-edit-menu-1" class="modal">

    <h1>EDIT MENU</h1>
    <select>

    </select>
</div>

<!-- MENU: EDIT -->
<div id="modal-edit-menu-2" class="modal">

    <h1>EDIT MENU</h1>
    <select>

    </select>
</div>

<!-- MENU: EDIT -->
<div id="modal-edit-menu-3" class="modal">

    <h1>EDIT MENU</h1>
    <select>

    </select>
</div>

<!-- MENU: EDIT -->
<div id="modal-edit-menu-4" class="modal">

    <h1>EDIT MENU</h1>
    <select>

    </select>
</div>