<!-- Modals -->


<!-- PROFILE: NEW -->
<div id="modal-new-profile" class="modal">

    <div class="modal-box">
        <h1>Create a new boardprofile:</h1>
        Profile Name: <input id="profile-create-name-field" type="input">
        <button type="submit" id="profile-name" onclick="app_profile_create()">Submit</button>
    </div>

</div>

<!-- PROFILE: LOAD -->
<div id="modal-load-profile" class="modal">

    <div class="modal-box">
        <h1>Load Profile</h1>
        <select id="list-profile-options">

        </select>
    </div>
</div>


<!-- TEMPLATE: NEW -->
<div id="modal-new-template" class="modal">

    <h1>New Template</h1>
    <p>Template Name: <input id="profile-create-name-field" type="input"></p>
    <p>Body Text: <input id="profile-create-name-field" type="input"></p>
    <p>
        Image: <select></select>
    </p>

    </select>
    <button type="submit" id="profile-name" onclick="app_profile_create()">Submit</button>

</div>


<!-- TEMPLATE: EDIT -->
<div id="modal-edit-template" class="modal">

    <h1>Edit Template</h1>
    <select>

    </select>
</div>

<!-- IMAGE: NEW -->
<div id="modal-new-image" class="modal">

    <h1>New Image</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="upload">
        <button type="submit" id="image_url">Submit</button>
    </form>
</div>

<!-- IMAGE: EDIT -->
<div id="modal-edit-image" class="modal">

    <h1>Edit Image</h1>
    <select class="list-images-options">

    </select>
</div>

<!-- PREVIEWBOARD MODALS -->

<!-- FEATURED: EDIT -->
<div id="modal-edit-featured" class="modal">

    <h1>EDIT FEATURED</h1>
    <select>

    </select>
</div>


<!-- SIDEBAR: EDIT -->
<div id="modal-edit-sidebar" class="modal">

    <h1>EDIT SIDEBAR</h1>
    <select>

    </select>
</div>

<!-- MENU: EDIT -->
<div id="modal-edit-menu-1" class="modal">

    <h1>EDIT MENU</h1>
    <select>

    </select>
</div>

<!-- MENU: EDIT -->
<div id="modal-edit-menu-2" class="modal">

    <h1>EDIT MENU</h1>
    <select>

    </select>
</div>

<!-- MENU: EDIT -->
<div id="modal-edit-menu-3" class="modal">

    <h1>EDIT MENU</h1>
    <select>

    </select>
</div>

<!-- MENU: EDIT -->
<div id="modal-edit-menu-4" class="modal">

    <h1>EDIT MENU</h1>
    <select>

    </select>
</div>